.containerPizza {
    height: 60%;
    margin-left: 5%;
}

.containerPizza input, select {
    outline: unset;
    padding: 3px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 10px;
}


.containerPizza input[type=number]::-webkit-inner-spin-button, 
.containerPizza input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.containerPizza input {
    height: 4vh;
    text-align: center;
}

.containerPizza select {
    height: 5.5vh;
    width: 90%;
}

.cabecalhoItem input,
.cabecalhoItem select{
    margin-left: 2.3vw;
    width: 15vw;
}

.cabecalhoItem label {
    font-size: .9rem;
}

.cabecalhoItem,
.saboresPizza,
.infoAdicionaisPizza {
    margin-top: 1%;
}

.cabecalhoItem {
    display: flex;
}

.saboresPizza {
    display: flex;
    height: 10vh;
}

.opcao2.hide {
    display: none;
}

.sabores,
.quantidade,
.tamanho,
.borda {
    display: flex;
    flex-direction: column;
}

.cabecalhoItem {
    height: 30%;
}

.saboresPizza {
    position: relative;
    height: 50%;
}

.tabSabores {
    position: absolute;
    top: 0;
    width: 95%;
}

.tabSabores tr {
    height: 3vh;
    font-size: .9rem;
}