#contentEntrega {
    display: flex;
    height: 100%;
}

.adicaoItem, .resumoPedido {
    background-color: rgb(240, 240, 240);
    height: 97%;
    border-radius: 1em;
    margin-left: 1.5vw;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.adicaoItem {
    width: 69%;
    display: flex;
    flex-direction: column;
}

.categoriasPedido {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
}

.categoriasPedido div {
    position: relative;
  }

.categoriasPedido div img{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    width: 9vh;
}

.categoriasPedido div img:hover {
    opacity: .9
}

.categoriasPedido div img:active {
    transform: scale(0.95);
}

.categoria p {
    position: absolute;
    font-size: .8rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
}

.itensPedido {
    height: 75%;
    width: 100%;
}

.infoAdicionaisPizza p {
    margin: 0 0 3% 5%;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    width: 30%;
}

.observacaoItemPedido {
    margin-left: 5%;
}

.observacaoItemPedido textarea {
    height: 8vh;
    width: 90%;
    margin-top: 1vh;
    border-radius: 10px;
}

.rodapeItemPedido {
    display: flex;
    height: 10%;
    width: 100%;
}

.subTotalItem {
    display: flex;
    height: 100%;
    width: 65%;
}

.subTotalItem p {
    margin-left: 2vw;
    font-size: 1.2rem;
}

.labelSubtotal {
    width: 80%;
}

.btnItens {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 35%;
}

.btnLimpar {
    color: white;
    background-color: #9b0303;
}

.btnAdicionar {
    color: white;
    background-color: rgb(0, 116, 52);
}

.resumoPedido {
    width: 29%;
}

.botoesControle button,
.btnItens button {
    height: 5vh;
    width: 8vw;
    margin: 0 .3rem 0 .3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.botoesControle button:hover,
.btnItens button:hover {
    opacity: .9
}

.botoesControle button:active,
.btnItens button:active {
    transform: scale(0.95);
}

