#contentEntrega {
    display: flex;
    height: 100%;
}

.adicaoItem, .resumoPedido {
    background-color: rgb(240, 240, 240);
    height: 97%;
    border-radius: 1em;
    margin-left: 1.5vw;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.adicaoItem {
    width: 69%;
    display: flex;
    flex-direction: column;
}

.categoriasPedido {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
}

.categoriasPedido div {
    position: relative;
  }

.categoriasPedido div img{
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    width: 9vh;
}

.categoriasPedido div img:hover {
    opacity: .9
}

.categoriasPedido div img:active {
    transform: scale(0.95);
}

.categoria p {
    position: absolute;
    font-size: .8rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    pointer-events: none;
}

.itensPedido {
    height: 75%;
    width: 100%;
}

.adicionais {
    margin: 0 auto;
    height: 30%;
    width: 93%;
}

.adicionaisOptions {
    margin-top: .5rem;
    display: flex;
    flex-wrap: wrap;
}

.containerRadio {
    width: 20%;
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

.containerRadio input {
  display: none;
}

.containerRadio input + label:before {
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;

}

.containerRadio input:checked + label:before {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #9b0303;
  background-position: center;
  border: none;
  padding: 1px;
}

.labelAdicional {
    font-size: .8rem;
}

.observacaoItemPedido p {
    margin-left: 5%;
    color: blue;
    text-decoration: underline;
}

.rodapeItemPedido {
    display: flex;
    height: 10%;
    width: 100%;
}

.subTotalItem {
    display: flex;
    height: 100%;
    width: 65%;
}

.subTotalItem p {
    margin-left: 2vw;
    font-size: 1.2rem;
}

.btnItens {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 35%;
}

.btnLimpar {
    color: white;
    background-color: #9b0303;
}

.btnAdicionar {
    color: white;
    background-color: rgb(0, 116, 52);
}

.resumoPedido {
    width: 29%;
}

button {
    height: 5vh;
    width: 8vw;
    margin: 0 .3rem 0 .3rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

button:hover {
    opacity: .9
}

button:active {
    transform: scale(0.95);
}
